<div class="wrap">


  <div class="ctopback noov">
    <div class="csupper">
    <div class="cnav noov">
      <div class="navlimit">
        <a href="/"><div class="logowrap"><%= image_tag("sankofalogo.png") %></div></a>
        <ul class="navlist">
          <a href="/"><li>Home</li></a>
          <a href="/comingsoon"><li>Shop</li></a>
          <a href="/departments"><li>Departments</li></a>
          <a href="/comingsoon"><li>Events</li></a>
          <a href="/contact"><li>Contact</li></a>
        </ul>
      </div>
    </div>


    <div class="mobilego">
      <div class="item"><span class="mlclose"><i class="fas fa-times"></i>&nbsp</span></div>
      <div class="item"> <span class="ml"><%= link_to "Welcome", "/" %></span></div>
      <div class="item"> <span class="ml"><%= link_to "Shop", "#" %></span></div>
      <div class="item"> <span class="ml ab"><%= link_to "Departments", "/departments" %></span></div>
      <div class="item"> <span class="ml"><%= link_to "Events", "/about" %></span></div>
      <div class="item"> <span class="ml"><%= link_to "Contact", "/contact" %></span></div>
    </div>

    <div class="mobilenav">
    <a href="/"><div class="mobileimg"><%= image_tag("sankofalogo.png") %></div></a>
    <div class="mobileicon"><i class="fas fa-ellipsis-v"></i></div>
  </div>

    <div class="csupperhalf">
      <div class="csupperhalflimit">
        <h1>Business Planning</h1>
      </div>
    </div>
    </div>

    <div class="cslow abackg one">
      <div class="downarrow"></div>
    </div>
  </div>

   <div class="cmainback noov">
     <div class="cmainbacklimit">
       <div class="deptbox">


         <div class="ctitle">
           <h3>Black Entrepreneurial Development</h3>
         </div>
         <div class="cbar"></div>

       </div>

       <div class="chightext">
         <p><span class="italic">“How long will you sleep, O sluggard? When will you arise out of your sleep? A little sleep, a little slumber, a little folding of the hands to sleep. So will poverty come upon you like a robber and want like an armed man.”</span> - Proverbs 6:9-11 </p>
       </div>
       <div class="clowtext">
         <p>Black Americans have the lowest business ownership rate in the population.
         <br>The top 3 contributing factors to this crisis is education, lack of
         capital/cash flow, and marketing/advertising. Sankofa Dreams
         have partnered with one of Atlanta’s Finest Business Moguls, Professor
         Devin Robinson of the Urban Business Institute, Center for Black
         Entrepreneurial Development. Learn more about the
         Professor at <a href="http://devinrobinson.com">http://devinrobinson.com</a> and <a href="http://www.urbanbusinessinstitute.com">http://www.urbanbusinessinstitute.com.</a>
       </p>
       </div>
     </div>
   </div>


   <div class="cotherback ">
     <div class="cotherbacklimit">
       <div class="ctitlewrap">
         <div class="ctitlehead">
           <h3>Related Departments</h3>
         </div>
         <div class="cotherbar">

         </div>
       </div>
      <div class="cotherboxwrap">
        <div class="cboxleft">
          <div class="cboxinner noov">
            <div class="cbg six"></div>
            <div class="cdark"></div>
            <div class="ccaption">
            <div class="ccaptionlimit">
              <div class="ccaptionhalf">
              <div class="ccaptioncontent">
                <div class="ccaptionhead">
                  <h3>
                    Life Planning
                </h3>
              </div>

              <div class="ccaptiontext">
                <div class="ccaptionhead"><p>
                  Develop a life strategy of self-fulfillment.
                </p></div>
              </div>
              </div>
            </div>


               <div class="ccaptionhalf">
                 <div class="ccaptionbtn"><a href="#">Learn More</a></div>
               </div>
              </div>
            </div>
          </div>
        </div>










        <div class="cboxright">
          <div class="cboxinner noov">
            <div class="cbg three"></div>
            <div class="cdark"></div>



            <div class="ccaption">
              <div class="ccaptionlimit">
              <div class="ccaptionhalf">
              <div class="ccaptioncontent">
                <div class="ccaptionhead">
                  <h3>
                    Education
                </h3>
              </div>

              <div class="ccaptiontext">
                <div class="ccaptionhead"><p>
                  Get the right mental framework to achieve your goals.
                </p></div>
              </div>
              </div>
            </div>


               <div class="ccaptionhalf">
                 <div class="ccaptionbtn"><a href="#">Learn More</a></div>
               </div>
                </div>
            </div>




          </div>
        </div>
     </div>


     <a href="/departments" class="cviewall">View All</a>
   </div>


  </div>


  <div class="ctaback noov">
    <div class="ctalimit">
      <div class="ctaleft">
        <div class="ctainner">
          <div class="deptbox vertmid">
            <div class="insmalltitle"><p>Free Book Download</p></div>
            <div class="inlargetitle"><h3>Get Your FREE Book </h3>
            </div>
            <div class="intexttitle"><p>
              Explore one of our many departments dedicated
              to black education and financial literacy.
            </p>
            </div>
          </div>
          <a class="bookbtn" href="/contact">
            Get Free Copy
          </a>
        </div>
      </div>
      <div class="ctaright">
        <div class="bookwrap">
          <%= image_tag("bookone.png") %>
        </div>
      </div>
    </div>
  </div>


  <div class="footer noov">
    <div class="footerlimit">
      <div class="footerpart">
        <div class="ulwrap ">
        <ul class="footlist rightwh">
          <li><a href="/contact">About Us</a></li>
          <li><a href="/departments">Our Departments</a></li>
          <li>Privacy Policy</li>
          <li>Terms</li>
        </ul>
      </div>
      </div>
      <div class="footerpart">
        <div class="ulwrap">
          <div class="fcb">Contact</div>
          <div class="fcbinfo">
            <span>Atlanta, Ga</span><br>
            <span>(404) 326-4973</span>
          </div>
        </div>
      </div>
      <div class="footerpart">
        <div class="ulwrap">
          <div class="fcb">Connect with us </div>
          <div class="fcbinfo">
            <span><a href="https://facebook.com/sankofadreams">facebook.com/sankofadreams</a></span><br>
            <br>
            <span><a href="https://instagram.com/sankofadreams2030">@sankofadreams2020</a></span><br>
            <br>
            <span>Subscribe to RSS</span><br>
            <br>
          </div>
        </div>
      </div>

      <div class="footerpart">
        <div class="ulwrap">
          <div class="fcb">Links </div>
          <div class="fcbinfo">
            <span><a href="/">Return Home</a></span><br>
            <br>
            <span><a href="/contact">Contact</a></span><br>
            <br>
            <span><a href="http://wealthwave.com/tesramccoy">Wealth Wave -Tesra</a></span><br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space noov">
    <div class="centerp">
    <p>2020 © Sankofa Dreams. All Rights Reserved.</p>
    <p class="lm">Sankofa Dreams is a company geared toward building wealth in the black community.</p>
    </div>
  </div>
  </div>
