<div class="wrap">
  <div class="nav noov">

    <div class="navlimit">
      <a href="/"><div class="logowrap"><%= image_tag("sankofalogo.png") %></div></a>
      <ul class="navlist">
        <a href="/"><li>Home</li></a>
        <a href="/departments"><li>Departments</li></a>
        <a href="#"><li>Events</li></a>
        <a href="/contact"><li>Contact</li></a>
      </ul>
    </div>
  </div>


  <div class="mobilego">
    <div class="item"><span class="mlclose"><i class="fas fa-times"></i>&nbsp</span></div>
    <div class="item"> <span class="ml"><%= link_to "Welcome", "/" %></span></div>
    <div class="item"> <span class="ml"><%= link_to "Book Us", "/contact" %></span></div>
    <div class="item"> <span class="ml ab"><%= link_to "Services", "/services" %></span></div>
    <div class="item"> <span class="ml"><%= link_to "About", "/about" %></span></div>
    <div class="item"> <span class="ml"><%= link_to "Contact", "/contact" %></span></div>
  </div>

   <div class="dark"></div>

  <div class="mobilenav nov">

    <a href="/"><div class="mobileimg"><%= image_tag("sankofalogo.png") %></div></a>
    <div class="mobileicon"><i class="fas fa-ellipsis-v"></i></div>
  </div>


<div class="deptback noov">
  <div class="deptinner">
     <div class="deptbox">
       <div class="smalltitle"><p>VIEW OUR DEPARTMENTS</p></div>
       <div class="deptbar"></div>
       <div class="largetitle"><h3>We Believe in a Better Future.</h3>
       </div>
       <div class="texttitle"><p>Explore one of our many departments dedicated
         to black education and financial literacy.</p></div>

     </div>
  </div>
  <div class="downarrow"></div>
</div>
<div class="introback noov">
  <div class="introinner">
     <div class="deptbox">
       <div class="insmalltitle"><p>Acquiring Resources</p></div>
       <div class="indeptbar"></div>
       <div class="inlargetitle"><h3>How To Get Ahead</h3>
       </div>
       <div class="intexttitle"><p><span class="italic">“If we expect to receive full equality and respect, we must
         bring something of worth to the table, we must show up with possessions of value”.</span>
         This can only be done by coming together as a community with ideas, aspirations, and
         ambitions through our hearts and minds.
       </p>
       </div>
     </div>


     <div class="righttitle"><p>Philosophy of Wealth</p></div>
  </div>
</div>


<div class="infocardback noov">
  <div class="plainwrap">

  </div>
  <div class="cardwrap">
   <div class="cwlimit">
     <div class="cwleft">
       <div class="infintroinner">
          <div class="deptbox">
            <div class="insmalltitle cwhite"><p>Working Through God</p></div>
            <div class="indeptbar"></div>
            <div class="inlargetitle cwhite"><h3>Facing Our Challenges</h3>
            </div>
            <div class="intexttitle cwhite"><p> <span class="italic">"And we know that all things work together
              for good to them that love God, to them who
              are called according to his purpose”</span> -Romans 8:28.
              As a Black race, we must stop making excuses and playing the blame game.
              We must use our challenges and tribulations as leverage to act on creating change. Development in Leadership, Innovation, Vision, Finances, Love, Respect, and most importantly, God.
            </p>
            </div>
          </div>
       </div>
     </div>
     <div class="cwright">
       <div class="leftcardwrap">
         <div class="cr cardone gre">
           <div class="cardicon ithree"></div>
           <div class="cardtextlimit">
           <div class="cardtext">
             <h3>
               Trusting God
           </h3>
         </div>
         </div>
         </div>
         <div class="cr cardtwo bro">
           <div class="cardicon ione"></div>
           <div class="cardtextlimit">
           <div class="cardtext">
             <h3>
               Keeping Family Close
           </h3>
         </div>
         </div>
         </div>
       </div>
       <div class="rightcardwrap">
         <div class="cr cardthree pin">
           <div class="cardicon itwo"></div>
           <div class="cardtextlimit">
           <div class="cardtext">
             <h3>
               Building Wealth
           </h3>
         </div>
         </div>
         </div>
       </div>
     </div>
   </div>
  </div>

</div>



<div class="workback noov">
  <div class="wh workupper">
    <div class="workupperlimit">
    <div class="wrkintroinner">
       <div class="deptbox centall">
         <div class="insmalltitle"><p>VIEW ALL SERVICES</p></div>
         <div class="indeptbar cenm"></div>
         <div class="inlargetitle"><h3>Our Many Services</h3>
         </div>
         <div class="intexttitle"><p>View all of our departments below to learn
         more about how we can bring you closer to acheiving financial freedom. </p>
         </div>
       </div>
    </div>
    </div>
  </div>
  <div class="wh worklower">
    <div class="lwhigh">
      <a href="/business"><div class="workbox bordr oned">
        <h1>Business</h1>
      </div></a>
      <a href="/counseling"><div class="workbox bordr twod"><h1>Counseling</h1></div></a>
      <a href="/pharoahs"><div class="workbox bordr fived"><h1>Pharoahs</h1></div></a>

    </div>
    <div class="lwlow">
      <a href="/fitness"><div class="workbox bordr fourd"><h1>Fitness</h1></div></a>
      <a href="/education"><div class="workbox threed"><h1>Education</h1></div></a>
      <a href="/lifeplanning"><div class="workbox sixd"><h1>Life Planning</h1></div></a>

    </div>
  </div>
</div>


<div class="ctaback noov">
  <div class="ctalimit">
    <div class="ctaleft">
      <div class="ctainner">
        <div class="deptbox vertmid">
          <div class="insmalltitle"><p>Free Book Download</p></div>
          <div class="inlargetitle"><h3>Get Your FREE Book </h3>
          </div>
          <div class="intexttitle"><p>
            Explore one of our many departments dedicated
            to black education and financial literacy.
          </p>
          </div>
        </div>
        <div class="bookbtn">
          <p>Get Free Copy</p>
        </div>
      </div>
    </div>
    <div class="ctaright">
      <div class="bookwrap">
        <%= image_tag("bookone.png") %>
      </div>
    </div>
  </div>
</div>


<div class="footer noov">
  <div class="footerlimit">
    <div class="footerpart">
      <div class="ulwrap ">
      <ul class="footlist rightwh">
        <li>About Us</li>
        <li>Meet the Team</li>
        <li>Our Community</li>
        <li>Privacy Policy</li>
        <li>Terms</li>
      </ul>
    </div>
    </div>
    <div class="footerpart">
      <div class="ulwrap">
      <div class="fcb">Facebook Feed</div>
    </div>
    </div>
    <div class="footerpart">
      <div class="ulwrap">
        <div class="fcb">Contact</div>
        <div class="fcbinfo">Location and Phone number</div>
      </div>
    </div>
    <div class="footerpart">
      <div class="ulwrap">
        <div class="fcb">Connect with us </div>
        <div class="fcbinfo">
          <span>facebook.com/sankofadreans</span><br>
          <br>
          <span>@sankofadreans2020</span><br>
          <br>
          <span>Subscribe to RSS</span><br>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="space noov">
  <div class="centerp">
  <p>2020 © Sankofa Dreams. All Rights Reserved.</p>
  <p class="lm">Sankafo Dreams is a company geared toward building wealth in the black community.</p>
  </div>
</div>



</div>
