<div class="wrap">


  <div class="ctopback noov">
    <div class="csupper">
    <div class="cnav noov">
      <div class="navlimit">
        <a href="/"><div class="logowrap"><%= image_tag("sankofalogo.png") %></div></a>
        <ul class="navlist">
          <a href="/"><li>Home</li></a>
          <a href="/"><li>Shop</li></a>
          <a href="/departments"><li>Departments</li></a>
          <a href="#"><li>Events</li></a>
          <a href="/contact"><li>Contact</li></a>
        </ul>
      </div>
    </div>

    <div class="mobilego">
      <div class="item"><span class="mlclose"><i class="fas fa-times"></i>&nbsp</span></div>
      <div class="item"> <span class="ml"><%= link_to "Welcome", "/" %></span></div>
      <div class="item"> <span class="ml"><%= link_to "Shop", "#" %></span></div>
      <div class="item"> <span class="ml ab"><%= link_to "Departments", "/services" %></span></div>
      <div class="item"> <span class="ml"><%= link_to "Events", "/about" %></span></div>
      <div class="item"> <span class="ml"><%= link_to "Contact", "/contact" %></span></div>
    </div>

    <div class="mobilenav">
    <a href="/"><div class="mobileimg"><%= image_tag("sankofalogo.png") %></div></a>
    <div class="mobileicon"><i class="fas fa-ellipsis-v"></i></div>
  </div>

    <div class="csupperhalf">
      <div class="alt">
        <h1>Health And Wellness</h1>
      </div>
    </div>
    </div>

    <div class="cslow abackg four">
      <div class="downarrow"></div>
    </div>
  </div>

   <div class="cmainback noov">
     <div class="cmainbacklimit">
       <div class="deptbox">


         <div class="ctitle">
           <h3>"Poor Health is a Choice"</h3>
         </div>
         <div class="cbar"></div>

       </div>

       <div class="chightext">
         <p><span class="italic">“Do you know that your bodies are temples of the Holy Spirit, who is in you, whom you have received from God? You are not your own. You were bought at a price. Therefore, honor God with your bodies.</span> - 1 Corinthians 6:19-20 </p>
       </div>
       <div class="clowtext">
         <p>The Black Race has the most health problems in America. Many will blame the government, the environment, and their pet dog Champ if they could get away with that, LOL.
         <br>However, no one wants to take accountability
         and blame themselves. Poor health is a choice. And
         to fulfill God’s purpose for your life here on this earth
         successfully, you must live, you must be well and fit. You must
         find time to balance out life with the proper rest, proper eating
         habits, proper exercise, and maintain excellent mental health.
         <br>
         Sankofa Dreams have partnered with one of the finest virtual Physical and Mental Wellness Teams in the State of Virginia,
FYT 2 LIVE. Find out more about FYT 2 LIVE at <a href="https://www.fyt2live.com">https://www.fyt2live.com</a> or via instagram: <a href="https://instagram.com/fyt2live">@fyt2live.</a>

       </p>
       </div>
     </div>
   </div>


   <div class="cotherback ">
     <div class="cotherbacklimit">
       <div class="ctitlewrap">
         <div class="ctitlehead">
           <h3>Related Departments</h3>
         </div>
         <div class="cotherbar">

         </div>
       </div>
      <div class="cotherboxwrap">
        <div class="cboxleft">
          <div class="cboxinner noov">
            <div class="cbg six"></div>
            <div class="cdark"></div>
            <div class="ccaption">
            <div class="ccaptionlimit">
              <div class="ccaptionhalf">
              <div class="ccaptioncontent">
                <div class="ccaptionhead">
                  <h3>
                    Life Planning
                </h3>
              </div>

              <div class="ccaptiontext">
                <div class="ccaptionhead"><p>
                  Develop a life strategy of self-fulfillment.
                </p></div>
              </div>
              </div>
            </div>


               <div class="ccaptionhalf">
                 <div class="ccaptionbtn"><a href="#">Learn More</a></div>
               </div>
              </div>
            </div>
          </div>
        </div>










        <div class="cboxright">
          <div class="cboxinner noov">
            <div class="cbg five"></div>
            <div class="cdark"></div>



            <div class="ccaption">
              <div class="ccaptionlimit">
              <div class="ccaptionhalf">
              <div class="ccaptioncontent">
                <div class="ccaptionhead">
                  <h3>
                    Pharoahs
                </h3>
              </div>

              <div class="ccaptiontext">
                <div class="ccaptionhead"><p>
                  Get the right mental framework to achieve your goals.
                </p></div>
              </div>
              </div>
            </div>


               <div class="ccaptionhalf">
                 <div class="ccaptionbtn"><a href="#">Learn More</a></div>
               </div>
                </div>
            </div>




          </div>
        </div>
     </div>


     <a href="/departments" class="cviewall">View All</a>
   </div>


  </div>


  <div class="ctaback noov">
    <div class="ctalimit">
      <div class="ctaleft">
        <div class="ctainner">
          <div class="deptbox vertmid">
            <div class="insmalltitle"><p>Free Book Download</p></div>
            <div class="inlargetitle"><h3>Get Your FREE Book </h3>
            </div>
            <div class="intexttitle"><p>
              Explore one of our many departments dedicated
              to black education and financial literacy.
            </p>
            </div>
          </div>
          <a class="bookbtn">
            Get Free Copy
          </a>
        </div>
      </div>
      <div class="ctaright">
        <div class="bookwrap">
          <%= image_tag("bookone.png") %>
        </div>
      </div>
    </div>
  </div>


  <div class="footer noov">
    <div class="footerlimit">
      <div class="footerpart">
        <div class="ulwrap ">
        <ul class="footlist rightwh">
          <li>About Us</li>
          <li>Meet the Team</li>
          <li>Our Community</li>
          <li>Privacy Policy</li>
          <li>Terms</li>
        </ul>
      </div>
      </div>
      <div class="footerpart">
        <div class="ulwrap">
        <div class="fcb">Facebook Feed</div>
      </div>
      </div>
      <div class="footerpart">
        <div class="ulwrap">
          <div class="fcb">Contact</div>
          <div class="fcbinfo">Location and Phone number</div>
        </div>
      </div>
      <div class="footerpart">
        <div class="ulwrap">
          <div class="fcb">Connect with us </div>
          <div class="fcbinfo">
            <span>facebook.com/sankofadreans</span><br>
            <br>
            <span>@sankofadreans2020</span><br>
            <br>
            <span>Subscribe to RSS</span><br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space noov">
    <div class="centerp">
    <p>2020 © Sankofa Dreams. All Rights Reserved.</p>
    <p class="lm">Sankafo Dreams is a company geared toward building wealth in the black community.</p>
    </div>
  </div>
  </div>
