<div class="wrap">

<div class="topback nov">
  <div class="nav">

    <div class="navlimit">
      <a href="/"><div class="logowrap"><%= image_tag("sankofalogo.png") %>
      </div></a>
      <ul class="navlist">
        <a href="/"><li>Home</li></a>
        <a href="/departments"><li>Departments</li></a>
        <a href="#"><li>Events</li></a>
        <a href="/contact"><li>Contact</li></a>
      </ul>
    </div>
  </div>
  <div class="mobilego">
    <div class="item"><span class="mlclose"><i class="fas fa-times"></i>&nbsp</span></div>
    <div class="item"> <span class="ml"><%= link_to "Welcome", "/" %></span></div>
    <div class="item"> <span class="ml"><%= link_to "Shop", "#" %></span></div>
    <div class="item"> <span class="ml ab"><%= link_to "Departments", "/departments" %></span></div>
    <div class="item"> <span class="ml"><%= link_to "Events", "/about" %></span></div>
    <div class="item"> <span class="ml"><%= link_to "Contact", "/contact" %></span></div>
  </div>

  <div class="mobilenav nov">

    <a href="/"><div class="mobileimg"><%= image_tag("sankofalogo.png") %>
    </div></a>
    <div class="mobileicon"><i class="fas fa-ellipsis-v"></i></div>
  </div>

  <div class="topbackcontent ">
   <div class="tbbase tbupper">Creating Black Wealth</div>
   <div class="tbbase tblower">Building Wealth in Black families through authentic Spiritual and Financial Legacy.</div>
  </div>
</div>

<div class="quotewrap nov">
  <div class="quotebox">
    <div class="quoteinner">
      <div class="quotepic">
      </div>
      <div class="quotetextbox">
        <div class="qone">Quote of the Week</div>
        <div class="qbar"></div>
        <div class="qtwo">Harriet Tubman</div>
      <div class="qthree">
        "I freed a thousand slaves. I could have freed a thousand more, if only they knew
        they were slaves."
      </div>
    </div>
  </div>
</div>
</div>

<div class="oneback nov">
  <div class="onestickbottom">
  <div class="obtextwrap">
    <div class="obone"><span>Our</span> Story</div>
    <div class="obbar"></div>
    <div class="obtwo">
      <p>
        An African word of Ghana that translates to “Go Back and Get It”
<span class="redbold">SAN-</span> to return <span class="redbold">KO-</span> to go <span class="redbold">FA-</span> to fetch to seek and take.
By focusing on the Empowerment of Black Divinity, Black Wealth, Black Education, Black Business Black Health, Black Love, and Black Power we have a more promising chance to rebuilding the Black Infrastructure.

      </p>
    </div>
  </div>
</div>
</div>


<div class="midback nov">


<div class="midlimit">
  <div class="midwrap">

    <div class="midpic obg"></div>
    <div class="midhalf">
      <div class="halfcontain">
        <div class="halfone">
          <span>God</span>
        </div>
        <div class="halfbar"></div>
        <div class="halftwo">
          A gift and passion for people. To Serve and Protect, to Encourage and Empower, to Give and Build. This fulfills God’s purpose and plan in human relationships.
        </div>
      </div>
    </div>
  </div>


  <div class="midwrap">
    <div class="midpic twbg"></div>
    <div class="midhalf">
      <div class="halfcontain">
        <div class="halfone">
          <span>Financial Freedom</span>
        </div>
        <div class="halfbar"></div>
        <div class="halftwo">
          To build wealth and create sustainability in the Black household. Effective money management in personal finances. Opening businesses and building assets to control the Black net worth and spending power.
        </div>
      </div>
    </div>

  </div>

  <div class="midwrap">
    <div class="midpic thbg"></div>
    <div class="midhalf">
      <div class="halfcontain">
        <div class="halfone">
          <span>Family Legacy</span>
        </div>
        <div class="halfbar"></div>
        <div class="halftwo">
          To uphold our responsibility as Men and Woman, Husbands and Wives, and Fathers and Mothers in a way of thinking and connecting between human life
          and the universe. Building and Protecting our cultural beliefs and values.
        </div>
      </div>
    </div>
  </div>
  </div>
</div>



<div class="threeback nov"></div>
<div class="fourback">
  <div class="fourlimit">
    <div class="fourhalf">
      <div class="fourinner ns"></div>
    </div>
    <div class="fourhalfl">
      <div class="fourinner lesstop">
        <div class="fourhead">
            OUR <span>MISSION</span>
          </div>


          <div class="fourtext">
            Sankofa Dreams is founded on the purpose of
            building Wealth in Black families through authentic Spiritual and Financial Legacy.

            </div>

      </div>
    </div>

  </div>
</div>




<div class="latestback nov">
  <div class="latesthead">
    <div class="leadtext">OUR <span>POSTS</span></div>
    <div class="leadbar"></div>
  </div>
  <div class="latestbox">
    <div class="latestlimit">
      <div class="lateblock firstblock">
        <div class="lbinner">

          <div class="datewrap">
            <div class="datebox">
              <div class="datetext">
                <div class="dthalf"><span>21</span></div>
                <div class="dthalf dtother"><span>MAY</span></div>
              </div>
            </div>
          </div>

          <div class="innertitlewrap">
            PROSPER IN A TIME OF COVID
          </div>
          <div class="itbar"></div>
          <div class="innertextwrap">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
          </div>
          <div class="contread">Continue Reading <span class="lowmarg"><i class="fas fa-long-arrow-alt-right"></i></span></div>





        </div>
      </div>
      <div class="lateblock"><div class="lbinner">


        <div class="datewrap">
          <div class="datebox">
            <div class="datetext">
              <div class="dthalf"><span>21</span></div>
              <div class="dthalf dtother"><span>MAY</span></div>
            </div>
          </div>
        </div>


        <div class="innertitlewrap">
          A BREATH OF CULTURE
        </div>
        <div class="itbar"></div>
        <div class="innertextwrap">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum.
        </div>
        <div class="contread">Continue Reading <span class="lowmarg"><i class="fas fa-long-arrow-alt-right"></i></span></div>






      </div></div>
      <div class="lateblock"><div class="lbinner">


        <div class="datewrap">
          <div class="datebox">
            <div class="datetext">
              <div class="dthalf"><span>21</span></div>
              <div class="dthalf dtother"><span>MAY</span></div>
            </div>
          </div>
        </div>



        <div class="innertitlewrap">
         INFRASTRUCTURE FOR BLACK BUSINESS
        </div>
        <div class="itbar"></div>
        <div class="innertextwrap">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum.
        </div>
        <div class="contread">Continue Reading <span class="lowmarg"><i class="fas fa-long-arrow-alt-right"></i></span></div>
      </div></div>
    </div>
  </div>
</div>

<div class="footer noov">
  <div class="footerlimit">
    <div class="footerpart">
      <div class="ulwrap ">
      <ul class="footlist rightwh">
        <a href="/contact"><li>About Us</li></a>
        <a href="/departments"><li>Our Departments</li></a>
        <li>Privacy Policy</li>
        <li>Terms</li>
      </ul>
    </div>
    </div>
    <div class="footerpart">
      <div class="ulwrap">
        <div class="fcb">Contact</div>
        <div class="fcbinfo">
          <span>Atlanta, Ga</span><br>
          <span>(404) 326-4973</span>
        </div>
      </div>
    </div>
    <div class="footerpart">
      <div class="ulwrap">
        <div class="fcb">Connect with us </div>
        <div class="fcbinfo">
          <span>facebook.com/sankofadreans</span><br>
          <br>
          <span>@sankofadreans2020</span><br>
          <br>
          <span>Subscribe to RSS</span><br>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="space">
  <div class="centerp">
  <p>2020 © Sankofa Dreams. All Rights Reserved.</p>
  <p class="lm">Sankafo Dreams is a company geared toward building wealth in the black community.</p>
  </div>
</div>












</div>
